.svg-add {
	background: url("sprite.css-4bc6a670.svg") 77.77777777777777% 78.61111111111111% no-repeat;
}

.svg-add-x {
	width: 16px;
	height: 16px;
}

.svg-add2 {
	background: url("sprite.css-4bc6a670.svg") 99.49367088607595% 72.77777777777777% no-repeat;
}

.svg-add2-x {
	width: 17px;
	height: 16px;
}

.svg-ar1 {
	background: url("sprite.css-4bc6a670.svg") 81.81818181818181% 78.61111111111111% no-repeat;
}

.svg-ar1-x {
	width: 16px;
	height: 16px;
}

.svg-ar2 {
	background: url("sprite.css-4bc6a670.svg") 85.85858585858585% 78.61111111111111% no-repeat;
}

.svg-ar2-x {
	width: 16px;
	height: 16px;
}

.svg-arrow {
	background: url("sprite.css-4bc6a670.svg") 99.25187032418953% 46.89265536723164% no-repeat;
}

.svg-arrow-x {
	width: 11px;
	height: 22px;
}

.svg-arrow2 {
	background: url("sprite.css-4bc6a670.svg") 99.25187032418953% 51.64835164835165% no-repeat;
}

.svg-arrow2-x {
	width: 11px;
	height: 12px;
}

.svg-arrow3 {
	background: url("sprite.css-4bc6a670.svg") 99.50124688279301% 64.97175141242938% no-repeat;
}

.svg-arrow3-x {
	width: 11px;
	height: 22px;
}

.svg-calendar {
	background: url("sprite.css-4bc6a670.svg") 84.94897959183673% 73.59550561797752% no-repeat;
}

.svg-calendar-x {
	width: 20px;
	height: 20px;
}

.svg-check {
	background: url("sprite.css-4bc6a670.svg") 87.37113402061856% 57.10227272727273% no-repeat;
}

.svg-check-x {
	width: 24px;
	height: 24px;
}

.svg-check2 {
	background: url("sprite.css-4bc6a670.svg") 55.5% 16.666666666666668% no-repeat;
}

.svg-check2-x {
	width: 12px;
	height: 10px;
}

.svg-close {
	background: url("sprite.css-4bc6a670.svg") 96.57894736842105% 66.66666666666667% no-repeat;
}

.svg-close-x {
	width: 32px;
	height: 31px;
}

.svg-delete {
	background: url("sprite.css-4bc6a670.svg") 93.55670103092784% 57.10227272727273% no-repeat;
}

.svg-delete-x {
	width: 24px;
	height: 24px;
}

.svg-exit {
	background: url("sprite.css-4bc6a670.svg") 99.74226804123711% 57.10227272727273% no-repeat;
}

.svg-exit-x {
	width: 24px;
	height: 24px;
}

.svg-file {
	background: url("sprite.css-4bc6a670.svg") 48.45360824742268% 80.39772727272727% no-repeat;
}

.svg-file-x {
	width: 24px;
	height: 24px;
}

.svg-line-min1 {
	background: url("sprite.css-4bc6a670.svg") 96.03399433427762% 48.68035190615836% no-repeat;
}

.svg-line-min1-x {
	width: 59px;
	height: 35px;
}

.svg-line-min2 {
	background: url("sprite.css-4bc6a670.svg") 0 100% no-repeat;
}

.svg-line-min2-x {
	width: 95px;
	height: 93px;
}

.svg-line1 {
	background: url("sprite.css-4bc6a670.svg") 75% 71.20743034055728% no-repeat;
}

.svg-line1-x {
	width: 96px;
	height: 53px;
}

.svg-line2 {
	background: url("sprite.css-4bc6a670.svg") 29.780564263322884% 86.80981595092024% no-repeat;
}

.svg-line2-x {
	width: 93px;
	height: 50px;
}

.svg-line3 {
	background: url("sprite.css-4bc6a670.svg") 0 39.61038961038961% no-repeat;
}

.svg-line3-x {
	width: 222px;
	height: 222px;
}

.svg-line4 {
	background: url("sprite.css-4bc6a670.svg") 76.45161290322581% 53.205128205128204% no-repeat;
}

.svg-line4-x {
	width: 102px;
	height: 64px;
}

.svg-line5 {
	background: url("sprite.css-4bc6a670.svg") 100% 0 no-repeat;
}

.svg-line5-x {
	width: 175px;
	height: 166px;
}

.svg-logo {
	background: url("sprite.css-4bc6a670.svg") 0 0 no-repeat;
}

.svg-logo-x {
	width: 237px;
	height: 61px;
}

.svg-search {
	background: url("sprite.css-4bc6a670.svg") 54.63917525773196% 80.39772727272727% no-repeat;
}

.svg-search-x {
	width: 24px;
	height: 24px;
}

.svg-search2 {
	background: url("sprite.css-4bc6a670.svg") 60.824742268041234% 80.39772727272727% no-repeat;
}

.svg-search2-x {
	width: 24px;
	height: 24px;
}

.svg-upl {
	background: url("sprite.css-4bc6a670.svg") 67.01030927835052% 80.39772727272727% no-repeat;
}

.svg-upl-x {
	width: 24px;
	height: 24px;
}

.svg-user {
	background: url("sprite.css-4bc6a670.svg") 73.19587628865979% 80.39772727272727% no-repeat;
}

.svg-user-x {
	width: 24px;
	height: 24px;
}

.svg-user2 {
	background: url("sprite.css-4bc6a670.svg") 88.0952380952381% 66.86046511627907% no-repeat;
}

.svg-user2-x {
	width: 34px;
	height: 32px;
}

.svg-ye {
	background: url("sprite.css-4bc6a670.svg") 90.05102040816327% 73.59550561797752% no-repeat;
}

.svg-ye-x {
	width: 20px;
	height: 20px;
}

.svg-ye2 {
	background: url("sprite.css-4bc6a670.svg") 95.15306122448979% 73.59550561797752% no-repeat;
}

.svg-ye2-x {
	width: 20px;
	height: 20px;
}

